/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}

/* input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]+span{
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
  background-image: url('/checkbox_unchecked.png');
}
input[type="checkbox"]:checked +span{
  background-image: url('/checkbox_checked.png');
} */
/* input[type=checkbox]:before { 
  content:'';
  display:inline-block;
  width: 12px;
  height: 12px;
  background:red; 
}
input[type=checkbox]:checked:before { background:green; } */
.style-checkbox{
  line-height:initial;
}
.style-checkbox:before{
  content:'';
  display:inline-block;
  width: 12px;
  height: 12px;
  background: url('/checkbox_unchecked.svg') #464775;
}
.style-checkbox:checked:before{
  background: url('/checkbox_checked.svg') #000;
}
input[type=radio]{
  line-height:initial;
}
input[type=radio]:before{
  content:'';
  display:inline-block;
  width: 14px;
  height: 14px;
  background: url('/radio_unchecked.svg') #464775;
}
input[type=radio]:checked:before{
  background: url('/radio_checked.svg') #464775;
}